<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Default</key>
	<dict>
		<key>hookRaisingSpeed</key>
		<integer>2</integer>
		<key>hookDroppingSpeed</key>
		<integer>2</integer>
		<key>fishSwimmingSpeed</key>
		<real>12.5</real>
		<key>whaleSwimmingSpeed</key>
		<integer>4</integer>
		<key>sharkSwimmingSpeed</key>
		<integer>8</integer>
		<key>fishDensity</key>
		<integer>1</integer>
	</dict>
</dict>
</plist>
