<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Default</key>
	<dict>
		<key>fisherman</key>
		<string>panda</string>
		<key>gameOver</key>
		<integer>0</integer>
		<key>fishDensity</key>
		<integer>1</integer>
		<key>shouldShowEasterEgg</key>
		<integer>0</integer>
		<key>percentComingFromLeft</key>
		<integer>50</integer>
		<key>fishToSharkFrequency</key>
		<integer>10</integer>
		<key>fishToWhaleFrequency</key>
		<integer>50</integer>
		<key>fishMouthHitTargetRadius</key>
		<integer>6</integer>
		<key>sharkMouthHitTargetRadius</key>
		<integer>6</integer>
		<key>whaleMouthHitTargetRadius</key>
		<integer>6</integer>
		<key>hookRaisingSpeed</key>
		<integer>6</integer>
		<key>hookDroppingSpeed</key>
		<integer>3</integer>
		<key>fishSwimmingSpeed</key>
		<real>12.5</real>
		<key>sharkSwimmingSpeed</key>
		<integer>8</integer>
		<key>whaleSwimmingSpeed</key>
		<integer>4</integer>
	</dict>
</dict>
</plist>
